.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 56px;
	padding: 0;
	background: #673AB7;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	z-index: 50;
}

.header h1 {
	text-align: center;
	margin: 0;
	padding: 0 15px;
	font-size: 24px;
	line-height: 56px;
	font-weight: 400;
	color: #FFF;
	font-family: cursive;
	font-weight: bold;
}

.header nav {
	float: right;
	font-size: 100%;
	position: relative;
	bottom: 60px;
	font-family: cursive;
	margin-inline-end: 20px;
	font-size: 18px;
}

.header nav a {
	display: inline-block;
	height: 56px;
	line-height: 56px;
	padding: 0 15px;
	min-width: 50px;
	text-align: center;
	background: rgba(255,255,255,0);
	text-decoration: none;
	color: #FFF;
	will-change: background-color;
	letter-spacing: 3px;
}

.header nav a:hover {
	background: rgba(0,0,0,0.2);
}

